dist: xenial

language: minimal

env:
  global:
    - DOCKSAL_VERSION=develop
    # Explicitly disable host's SSH agent usage, as we are testing docksal-ssh-agent here
    - DOCKSAL_SSH_AGENT_USE_HOST=0

install:
  # Install Docksal to have a matching versions of Docker on the build host
  - curl -fsSL https://get.docksal.io | bash
  - fin version
  - fin sysinfo

script:
  - make
  - make start
  - make test

after_success:
  - make release

after_failure:
  - make logs
